/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: DENOISING_MPPCA {
        ext {
            extent = params.mppca_kernel_size
        }
    }

    withName: UTILS_EXTRACTB0 {
        ext {
            b0_threshold = params.b0_threshold
        }
    }

    withName: BETCROP_FSLBETCROP {
        ext {
            b0_thr = params.b0_threshold
            bet_dwi_f = params.bet_f_value
        }
    }

    withName: PREPROC_N4 {
        ext {
            bspline_knot_per_voxel = params.n4_knots_per_voxel
            shrink_factor = params.n4_shrink_factor
        }
    }

    withName: RECONST_DTIMETRICS {
        ext {    
            //** DTI outputs **//
            ad = true
            evecs = true
            evals = true
            fa = true
            ga = true
            rgb = true
            md = true
            mode = true
            norm = true
            rd = true
            tensor = true
            nonphysical = true
            pulsation = true
            residual = true
        }
    }

    withName: RECONST_FRF {
        ext {
            fa = params.frf_max_fa
            fa_min = params.frf_min_fa
            nvox_min = params.frf_min_nvox
            roi_radius = params.frf_roi_radius
            set_frf = params.frf_set_fixed
            manual_frf = params.frf_manual_response
        }
    }

    withName: RECONST_FODF {
        ext {
            dwi_shell_tolerance = params.dwi_shell_tolerance
            fodf_shells = params.fodf_shells
            sh_order = params.fodf_sh_order
            sh_basis = params.fodf_sh_basis
            fa_threshold = params.fodf_ventricle_max_fa
            md_threshold = params.fodf_ventricle_min_md
            relative_threshold = params.fodf_maxima_relative_thr
            fodf_metrics_a_factor = params.fodf_maxima_absolute_thr
            //** FODF outputs **//
            peaks = true
            peak_indices = true
            afd_max = true
            afd_total = true
            afd_sum = true
            nufo = true
        }
    }
}